.col-3 {
    background-color: rgb(206, 240, 175);
}

.col-md {
    background-color: rgb(206, 240, 175);
}

.jumbotron {
    background-color: rgb(140, 243, 149);
}
.container-fluid {
    background-color: #b8f0f7;
}

.table {
    color: 000000;
    background-color: rgb(140, 243, 149);
}

